@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    min-height: 100vh;
    background-color: #f9f7f2;
}

::selection {
    background-color: #14b5ff;
    color: #fff;
}

::-moz-selection {
    background-color: #14b5ff;
    color: #fff;
}

::-webkit-selection {
    background-color: #14b5ff;
    color: #fff;
}

@layer components {
    * {
        font-family: poppins;
    }

    body {
        width: 100%;
        min-height: 100vh;
        background-color: #f9f7f2;
    }

    @media (min-width: 1024px) {
        .columns-40-60-lg {
            grid-template-columns: 40% 60%;
        }
    }
}
